body {
    background-color: 		#DE3163;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white
}
 
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 
.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10%;
    gap: 15px;
}
 
#yes-button {
    background-color: #50ff64;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
 
#no-button {
    background-color: #ff5050;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}